.bg-img-agencia {
    background-image: url("../assets/agencia.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.textStyles {
    font-style: normal;
    font-weight: 400;
    align-items: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.textEndStyle {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    /* or 88% */

    letter-spacing: 0.05em;

    /* VerdeMedio */

    color: #154344;
}

.titleAgency{
    font-family: 'IBM Plex Serif', serif;
    font-size: 50px !important;
}

a{
    font-family: 'IBM Plex Sans', sans-serif;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
}

h2{
    font-family: 'IBM Plex Sans', sans-serif; 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 2560px) {
    .bg-img-agencia {
        height: 16rem;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 768px) {
    .bg-img-agencia {
        width: 100%;
        margin-top: 5rem;        
        height: 6rem;
    }
    .textStyles p{
        margin-top: 2rem;
        line-height: 36px;
        font-size: 15px;
    }
    .titleAgency{
        font-size: 2rem !important;
    }
    .textEndStyle {
        font-size: 1.25rem !important;
        margin-bottom: 0 !important;
    }
    
}