.contactForm {
    background: #FFFFFF;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.26);
    padding: 3rem;
    padding-left: 15rem;
}

.infoContact {
    position: absolute;
    width: 300px;
    height: 450px;
    left: 300px;
    top: 345px;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.26);
} h4{
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 20px !important;
}

.titleFormContact{
    color: #154344;
}

.infoContact p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;    
    line-height: 55px;
    /* or 275% */

    text-align: center;
    letter-spacing: 0.05em;
}

.infoContact a{
    color: #EC9A59;    
}

li a{
    font-family: 'IBM Plex Sans';
}

.inputContactFormt {
    border: none;
    border-radius: 0;
    border-bottom-style: inherit;
    border-color: #04202B;
    padding-left: 0;
    padding-bottom: 0;
    font-style: italic;
}

.titleFormInfo {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 55px;    
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* Naranja */
    color: #EC9A59;
}

.titleContact{
    font-family: 'IBM Plex Serif', serif;
    font-size: 50px !important;
}


input::placeholder {
    color: #D8D8D8 !important;
}

label {
    color: #828282 !important;
}

.btnContact {
    position: inherit;
    width: 217px;
    height: 59px;
    background-color: #D9D9D9 !important;
    font-size: 27px !important;
}

@media only screen and (min-device-width: 1501px) and (max-device-width: 2570px) {
    .contactForm{
        margin-left: 10rem;
    }
    .infoContact{
        left: 863px;
        top: 346px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 2rem !important;
    }
    #form{
        margin-left: 0rem !important;
    }    
}

@media only screen and (min-device-width: 1101px) and (max-device-width: 1500px) {
    .contactForm{
        margin-left: 0rem;
    }
    .infoContact{
        left: 383px;
        top: 346px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 2rem !important;
    }
    
}

@media only screen and (min-device-width: 901px) and (max-device-width: 1100px) {
    .contactForm{
        margin-left: 2rem;
    }
    .infoContact{
        left: 162px;
        top: 347px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 2rem !important;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 900px) {
    .contactForm{
        margin-left: 7rem;
    }
    .infoContact{
        left: 53px;
        top: 314px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 2rem !important;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 600px) {
    .contactForm{
        padding-left: 0;
        box-shadow: none;
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .infoContact{
        left: 0;
        width: 100%;
        top: 132px;
        box-shadow: none;
        z-index: -2;
    }
    .titleContact{
        text-align: start !important;
        font-size: 34px !important;
        margin-top: 4rem !important;
        margin-bottom: 0 !important;
    }
    .redes{
        display: none;
    }
    h3{
        font-size: 14px !important;
    }
    h4{
        text-align: center;
    }
    .flexContenContact {
        flex-direction: column;
        width: 100%;
    }
}

input:focus {
    box-shadow: none !important;
    border-color: #04202B !important;
} 

button:hover {
    box-shadow: none !important;
    background-color: #EC9A59 !important;
}

button:focus {
    box-shadow: none !important;
    background-color: #F1C39E !important;
}

button:active {
    box-shadow: none !important;
    background-color: #F1C39E !important;
}