.mobileImg{
    display: none;
}
.titleServices{
    margin-left: 1rem;
}
.subtitleServices{
    margin-left: 1rem;
}
.lineServices{
    margin-left: 1rem;
}
.subtitles {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 55px;
    /* identical to box height, or 172% */

    text-align: center;
    letter-spacing: 0.05em;

    /* Naranja */

    color: #EC9A59;
}

.boxServices {

    border: 1px solid #D9D9D9;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lineServices{
    height: 1px;
    width: 53%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 450px) {
    .lineServices{
        display: none;
    }
    .mobileImg{
        display: block;
    }
    .desktopImg{
        display: none;
    }    
    .subtitles{
        font-family: IBM Plex Sans;
        font-size: 15px !important;
    }
    .boxServices {
        border: none;
    } p{
        font-size: 14px !important;
        margin-bottom: 1rem;
    }
    .footerLine{
        margin-top: 4rem !important;
    }
    .lineMobile{
        width: 30%;
    }
}