body{
    margin: 1rem !important;
}

.subtitles {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 55px;
    /* identical to box height, or 172% */

    text-align: center;
    letter-spacing: 0.05em;

    /* Naranja */

    color: #EC9A59;
}

.boxServices {

    border: 1px solid #D9D9D9;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lineServices{
    height: 1px;
    width: 53%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 599px) {
    .lineServices{
        display: none;
    }
}